name: Continuous Deployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deployment:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Generate
        run: npm run generate

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run tests
        run: npm run test

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -p ${{ vars.SSH_PORT }} -H ${{ vars.IP_ADDRESS }} >> ~/.ssh/known_hosts

      - name: Upload artifacts
        run: |
          rsync -avz --delete -e "ssh -i ~/.ssh/id_ed25519 -p ${{ vars.SSH_PORT }}" ./.output/public/ ${{ vars.USERNAME }}@${{ vars.IP_ADDRESS }}:${{ vars.TARGET_PATH }}
