name: Continuous Deployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deployment:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Generate
        run: npm run generate

#      - name: Install Playwright browsers
#        run: npx playwright install --with-deps
#
#      - name: Run tests
#        run: npm run test

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keygen -p -P "${{ secrets.SSH_KEY_PASSPHRASE }}" -N "" -f ~/.ssh/id_ed25519
          ssh-keyscan -p ${{ vars.SSH_PORT }} -H ${{ vars.IP_ADDRESS }} >> ~/.ssh/known_hosts
#          echo "${{ secrets.SSH_KEY_PASSPHRASE }}" > /tmp/askpass

      - name: Upload artifacts
        run: |
          rsync -avz -e "ssh -i ~/.ssh/id_ed25519 -p ${{ vars.SSH_PORT }}" ./.output/public ${{ vars.USERNAME }}@${{ vars.IP_ADDRESS }}:${{ vars.TARGET_PATH }}

#      - name: Upload artifact
#        uses: appleboy/scp-action@master
#        with:
#          username: ${{ vars.USERNAME }}
#          host: ${{ vars.IP_ADDRESS }}
#          port: ${{ vars.SSH_PORT }}
#          key: ${{ secrets.SSH_KEY }}
#          passphrase: ${{ secrets.SSH_KEY_PASSPHRASE }}
#          source: './.output/public'
#          strip_components: 3
#          target: ${{ vars.TARGET_PATH }}
